<div class="right_col">
    <div class="row">
        <div class="col-lg-4 justify-content-center">
            <widget title="Log in">
                <div class="justify-content-center">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Username:
                    </label>
                    <div class="col-md-6 col-sm-6 " data-children-count="1">
                        <input type="text" id="first-name" required="required" class="form-control " data-kwimpalastatus="alive" data-kwimpalaid="1614007894077-6">
                    </div>
                </div>
            </widget>
        </div>
    </div>
</div>