<div class="right_col" [style.height.px]="screenHeight-51">
    <div class="row align-items-center justify-content-center" style="height:100%;">
        <div class="col-md-4">
            <widget title="Log in">
                <div class="justify-content-md-center">
                    <div class="row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="username">Username:
                        </label>
                        <div class="col-md-6 col-sm-6 " data-children-count="1">
                            <input type="text" id="username" required="required" class="form-control" [(ngModel)]="credentials.username">
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="password">Password:
                        </label>
                        <div class="col-md-6 col-sm-6 " data-children-count="1">
                            <input type="password" id="password" required="required" class="form-control" [(ngModel)]="credentials.password">
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-success" (click)="onLoginClick()">Login</button>
                            <button type="button" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </div>
            </widget>
        </div>
    </div>
</div>