<div class="right_col" [style.height.px]="screenHeight-51"><!-- subtract the size of the footer element, easier to just hardcode this for now -->
    <div class="row">
        <div class="col-lg-4">
            <widget title="Choose User">
                <select [(ngModel)]="selectedUser" class="form-control">
                    <option *ngFor="let user of users">{{ user.first_name + " " + user.last_name }}</option>
                </select>
            </widget>
        </div>
    </div>
</div>
